.single-project {
    p {
        text-align: justify;
    }

}

.date {
    font-size: 0.6rem;
    border-bottom: 1px solid lightgray;
    padding: 8px 0;

    span {
        font-weight: bold;
    }
}